div.full-size(ng-controller="ScriptOutputController")
	.toolbar.toolbar-tall
		a.btn.btn-info(
			href,
			ng-disabled="currentRun.running || needToUpgrade",
			ng-click="run()"
		)
			i.fa.fa-fw(
				ng-class="{'fa-refresh fa-spin': currentRun.running, 'fa-play': !currentRun.running }"
			)
			| &nbsp;&nbsp;
			span(ng-show="!currentRun.running && !currentRun.stopping") Run
			span(ng-show="currentRun.running && !currentRun.stopping") Running...
			span(ng-show="currentRun.stopping") Stopping...
		a(
			href,
			ng-click="stop()",
			ng-show="currentRun.running && !currentRun.stopping"
		).small
			.i.fa.fa-fw.fa-stop
			|  Stop
			
	div.script-output.main-script-output(scroll-glue)
		.alert.alert-info(ng-if="needToUpgrade", ng-controller="FreeTrialModalController")
			p.text-center
				| Your free trial has expired. You need to upgrade to run scripts.
			p.text-center
				a.btn.btn-success(href, ng-click="startFreeTrial('runScript')") Upgrade Now

		.script-uncompiled(ng-show="uncompiled && !needToUpgrade")
			| &nbsp;
			i.fa.fa-level-up.fa-flip-horizontal.fa-2x
			| &nbsp;&nbsp;Click here to run your script!
			
		.alert.alert-info(ng-show="currentRun.running && currentRun.stillIniting && !currentRun.inited")
			p
				i.fa.fa-spinner.fa-spin.fa-fw 
				|  Initializing environment...
			p.small (This can take a while the first time you run a script)

		span.output(ng-repeat="part in currentRun.output | orderBy:'msg_id' track by $index ")
			span(ng-if="part.output_type == 'stdout'").stdout {{ part.text }}
			span(ng-if="part.output_type == 'stderr'").stderr {{ part.text }}
			div.output-file(ng-if="part.output_type == 'file' && !part.ignore")
				div.text-center(ng-show="running")
					i.fa.fa-2x.fa-spin.fa-spinner
				
				.download-controls
					span.name(ng-show="part.file_type == 'image' && part.path.slice(0,7) != '.output'") {{ part.path }}
					a(
						ng-href="{{part.url}}",
						target="_blank",
						tooltip="Download",
						tooltip-append-to-body="true",
						tooltip-placement="bottom"
					)
						i.fa.fa-download

				img(ng-if="part.file_type == 'image' && !running", ng-src="{{part.url}}")
				div(ng-if="part.file_type != 'image' && !running")
					.small File written
					div
						a(ng-href="{{part.url}}", target="_blank") {{ part.path }}
		
		.alert.alert-info.row-spaced-small.text-center(ng-repeat="error in currentRun.parsedErrors")
			div(ng-if="error.type == 'missing_package'")
				p The '{{ error.package }}' package is not installed.
				a(href, ng-click="installPackage(error.package, error.language)").btn.btn-info Install now
			div.text-left(ng-if="error.type == 'runtime_error'",ng-controller="PdfLogEntryController")
				p.entry-message
					a(href,ng-click="openInEditor(error)",style="white-space:normal").btn.btn-info {{ error.message }}
				p.entry-content(ng-if="error.stack") Stack trace
					div(ng-repeat="frame in error.stack")
						a(href, ng-click="openInEditor(frame)").btn.btn-info {{frame.message}}

		.alert.alert-danger.row-spaced-small(ng-show="currentRun.error")
			strong #{translate("server_error")} 
			span #{translate("somthing_went_wrong_compiling")}

		.alert.alert-danger.row-spaced-small(ng-show="currentRun.timedout")
			strong #{translate("timedout")}. 
			span Sorry, your script took too long to run and timed out.
