extends ../layout

block content
	.content.content-alt
		.container.bonus
			.row
				.col-md-8.col-md-offset-2
					.card
						.container-fluid(ng-controller="BonusLinksController")
							.row
								.col-md-12
									.page-header
										h1 Help us spread the word about DataJoy.


							.row
								.col-md-10.col-md-offset-1
									h2 Share DataJoy with your friends and colleagues and unlock the rewards below

							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.bonus-top

							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.title
										a(href='https://twitter.com/share?text=DataJoy%20is%20an%20awesome%20online%20Python%20and%20R%20editor%20for%20data%20and%20stats&url=#{encodeURIComponent(buildReferalUrl("t"))}&counturl=https://www.getdatajoy.com', target="_blank").twitter Tweet
									
							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.title
										a(href='#', onclick='postToFeed(); return false;').facebook #{translate("post_on_facebook")}

							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.title
										a(href="https://plus.google.com/share?url=#{encodeURIComponent(buildReferalUrl('gp'))}", onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").google-plus #{translate("share_us_on_googleplus")}
									
							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.title
										a(href='mailto:?subject=Online Python and R editor you may like &body=Hey, I have been using DataJoy, an online Python and R editor recently and thought you might like to check it out: #{encodeURIComponent(buildReferalUrl("e"))}', title='Share by Email', target="_blank").email #{translate("email_us_to_your_friends")}

							.row
								.col-md-8.col-md-offset-2.bonus-banner
									.title
										a(href='#link-modal', data-toggle="modal", ng-click="openLinkToUsModal()").link #{translate("link_to_us")}

							.row
								.col-md-10.col-md-offset-1.bonus-banner
									h2.direct-link #{translate("direct_link")}
									pre.text-centered #{buildReferalUrl("d")}

							.row.ab-bonus
								.col-md-10.col-md-offset-1.bonus-banner
									p.thanks When someone starts using DataJoy after your recommendation we'll give you some <strong>free stuff</strong> to say thanks! Check your progress below.
							.row.ab-bonus
								.col-md-10.col-md-offset-1.bonus-banner(style="position: relative; height: 30px; margin-top: 20px;")
									- for (var i = 0; i <= 10; i++) {
										- if (refered_user_count == i)
											.number(style="left: #{i}0%").active #{i}
										- else
											.number(style="left: #{i}0%") #{i}
									- }

							.row.ab-bonus
								.col-md-10.col-md-offset-1.bonus-banner
									.progress
										- if (refered_user_count == 0)
											div(style="text-align: center; padding: 4px;") #{translate("spread_the_word_and_fill_bar")}
										.progress-bar.progress-bar-info(style="width: #{refered_user_count}0%")

							.row.ab-bonus
								.col-md-10.col-md-offset-1.bonus-banner(style="position: relative; height: 70px;")
									.perk(style="left: 10%;", class = refered_user_count >= 1 ? "active" : "") Increased timeout
									.perk(style="left: 50%;", class = refered_user_count >= 5 ? "active" : "") More compute resources
									.perk(style="left: 90%;", class = refered_user_count >= 9 ? "active" : "") Free Dropbox and Github Sync
							.row &nbsp;

							.row.ab-bonus
								.col-md-10.col-md-offset-1.bonus-banner
									- if (refered_user_count == 0)
										p.thanks You've not introduced anyone to DataJoy yet.
									- else if (refered_user_count == 1)
										p.thanks You've introduced <strong>#{refered_used_count}</strong> person to DataJoy. Good job, but can you get some more?
									- else
										p.thanks You've introduced <strong>#{refered_used_count}</strong> person to DataJoy. Good job!
						
						script(type="text/ng-template", id="BonusLinkToUsModal")
							.modal-header
								button.close(
									type="button"
									data-dismiss="modal"
									ng-click="cancel()"
								) &times;
								h3 #{translate("link_to_sl")}
							.modal-body.modal-body-share.link-modal

								p #{translate("can_link_to_sl_with_html")}
								p
									textarea(readonly=true)
										<a href="#{buildReferalUrl("d")}">DataJoy, the online Python and R editor</a>

								p #{translate("thanks")}!


							.modal-footer()
								button.btn.btn-default(
									ng-click="cancel()",
								)
									span #{translate("close")}












	script(type='text/javascript', src='//platform.twitter.com/widgets.js')
	script(src='https://connect.facebook.net/en_US/all.js')
	script(type='text/javascript').
		FB.init({appId: '449712601898285', xfbml: true, version: 'v2.4'});

		function postToFeed() {
			// calling the API ...
			var obj = {
				method: 'feed',
				redirect_uri: 'https://www.getdatajoy.com/',
				link: '!{buildReferalUrl("fb")}',
				picture: 'https://www.getdatajoy.com/img/logo.png',
				name: 'DataJoy - Online Python and R Editor',
				caption: 'An Online Python and R Editor',
				description: 'DataJoy is a free online Python and R Editor. Runs your scripts online and work together in real-time, with full version history.'
			};

			function callback(response) {
				// document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
			}
			if (typeof FB !== "undefined" && FB !== null) {
				FB.ui(obj, callback);
			}
		}

	script(type="text/javascript").
		$(function() {
			$(".twitter").click(function() {
				ga('send', 'event', 'referal-button', 'clicked', "twitter")
			});
			$(".email").click(function() {
				ga('send', 'event', 'referal-button', 'clicked', "email")
			});
			$(".facebook").click(function() {
				ga('send', 'event', 'referal-button', 'clicked', "facebook")
			});
			$(".google-plus").click(function() {
				ga('send', 'event', 'referal-button', 'clicked', "google-plus")
			});
			$(".link").click(function() {
				ga('send', 'event', 'referal-button', 'clicked', "direct-link")
			});
		});

