div.binary-file.full-size(
	ng-controller="BinaryFileController"
	ng-show="ui.view == 'file'"
	ng-if="openFile"
	ng-repeat="openFile in [openFile]"
)
	img(
		ng-src="{{ openFile.url ||  '/project/' + project_id + '/file/' + openFile.id }}"
		ng-if="isImage(openFile)"
	)
	img(
		ng-src="{{ openFile.url ||  '/project/' + project_id + '/file/' + openFile.id }}?format=png"
		ng-if="isVectorWithPreview(openFile)"
	)
	p.no-preview(
		ng-if="!isImage(openFile) && !isVectorWithPreview(openFile)"
	) #{translate("no_preview_available")}
	a.btn.btn-info(
		ng-href="{{ openFile.url ? openFile.url + '?download=1' : '/project/' + project_id + '/file/' + openFile.id }}"
	) #{translate("download")} {{ openFile.name }}
