div.binary-file.full-size(
	ng-controller="BinaryFileController"
	ng-show="ui.view == 'file'"
	ng-if="openFile"
	ng-repeat="openFile in [openFile]"
)
	img(
		ng-src="{{ openFile.url ||  '/project/' + project_id + '/file/' + openFile.id }}"
		ng-if="isImage(openFile)"
	)
	
	img(
		ng-src="{{ openFile.url ||  '/project/' + project_id + '/file/' + openFile.id }}?format=png"
		ng-if="isVectorWithPreview(openFile)"
	)
	
	div.csv-preview(
		ng-if="isCsvWithPreview(openFile)"
		ng-controller="CsvPreviewController"
	)
		div(ng-if="state.preview == null")
			p {{state.message}}
		div.table-responsive(ng-if="state.preview != null", ng-cloak="true")
			table.table.table-bordered
				thead(ng-if="state.preview.labels")
					tr
						th #
						th(ng-repeat="label in state.preview.labels track by $index") {{label}}
				tbody
					tr(ng-repeat="row in state.preview.rows track by $index")
						td {{$index}}
						td(ng-repeat="cell in row track by $index") {{cell}}
					tr
						td ...
				
	
	p.no-preview(
		ng-if="!isImage(openFile) && !isVectorWithPreview(openFile) && !isCsvWithPreview(openFile)"
	) #{translate("no_preview_available")}
	
	a.btn.btn-info(
		ng-href="{{ openFile.url ? openFile.url + '?download=1' : '/project/' + project_id + '/file/' + openFile.id }}"
	) #{translate("download")} {{ openFile.name }}
