li(ng-controller="InstallPackagesController")
	a(
		href,
		ng-click="openInstallPackagesModal(false, editor.ace_mode)"
	)
		i.fa.fa-fw.fa-archive
		| &nbsp;&nbsp; Install packages

script(type='text/ng-template', id='installPackagesModalTemplate')
	.modal-header
		h3 Install modules and packages

	// simple mode
	div.modal-body.package-search-modal(ng-if="simpleMode == true")
		
		// search form
		div(ng-controller="PackageSearchController")
			.row.package-search-form
				.col-md-12
					form.form-inline.toolbar.toolbar-borderless.row-spaced
						input.form-control.text-monospace#searchBox(
							ng-model="simple.state.searchInput",
							placeholder="Search {{engine}} packages...",
							on-enter="simple.search()",
							focus-on="open",
							autocomplete="off"
						)
						button(
							ng-click="simple.search()"
							ng-disabled="simple.state.searching"
						).btn.btn-primary.search-button.pull-right
							| Search
	
			// selected view
			div(ng-if="simple.state.selected != null").row.package-details
				div.col-md-12
					// top row
					div.row.top-row
						div.col-md-12
							span.package-name
								| {{simple.state.selected.name}}
					div.row.back-link
						div.col-md-12
							span.pull-left
								a(href, ng-click="simple.clearPackageSelection()").small.subdued
									i.fa.fa-arrow-left
									| &nbsp;Back to Search Results
					
	
					// package details
					div.row.details
						div.col-md-12
	
							div(ng-if="simple.state.selected.summary").package-summary
								| {{simple.state.selected.summary}}
							div(ng-if="simple.state.selected.url").small
								a(href="{{simple.state.selected.url}}", target="_blank")
									| {{simple.state.selected.url}}
						
					// actions
					div.row.bottom-row
						div.col-md-12
							span.pull-left
								button(
									ng-click="simple.install(simple.state.selected)"
									ng-disabled="simple.state.install.running"
								).btn.btn-primary.btn-sm
									span(ng-show="!simple.state.install.running && !simple.state.install.stopping") Install
									span(ng-show="simple.state.install.running && !simple.state.install.stopping")
										i.fa.fa-refresh.fa-spin.fa-fw
										|  Installing {{simple.state.install.packageName}} ...
									span(ng-show="simple.state.install.stopping") 
										i.fa.fa-refresh.fa-spin.fa-fw
										|  Stopping...
								| &nbsp;
								a(
									href,
									ng-click="simple.stop()",
									ng-show="simple.state.install.running && !simple.state.install.stopping"
								).small
									.i.fa.fa-fw.fa-stop
									|  Stop
								
					// install command output
					div.row(ng-if="simple.showOutput()")
						div.separator
							hr
						div.command-output.install-command-output.row-spaced(scroll-glue)
							.alert.alert-info(ng-show="simple.showStillIniting()")
								p
									i.fa.fa-spinner.fa-spin.fa-fw 
									|  Initializing environment...
								p.small (This can take a while the first time you run a script)
		
							span.output(ng-repeat="part in simple.state.install.output | orderBy:'msg_id' track by $index ")
								span(ng-if="part.output_type == 'stdout'").stdout {{ part.text }}
								span(ng-if="part.output_type == 'stderr'").stderr {{ part.text }}
					
							.alert.alert-danger.row-spaced-small(ng-if="simple.state.install.error")
								strong #{translate("server_error")} 
								span #{translate("somthing_went_wrong_compiling")}
	
							.alert.alert-danger.row-spaced-small(ng-if="simple.state.install.timedout")
								strong #{translate("timedout")}. 
								span Sorry, your script took too long to run and timed out.
					
							div.alert.alert-success.row-spaced(ng-if="simple.state.install.exitCode == 0")
								| Success! '{{ simple.state.install.packageName }}' was installed.
							div.alert.alert-danger.row-spaced(ng-if="simple.state.install.exitCode")
								| Failed to install '{{ simple.state.install.packageName }}', sorry.

			
			// search results panel
			div(ng-if="simple.showSearchResults()").row.package-search-results
	
				// scroll-able search results
				div.col-md-12.scroll-container
					div(ng-repeat="item in simple.state.searchResults").search-result-item
						div.top-row
							span.package-name
								a(href, ng-click="simple.selectPackage(item)") {{item.name}}
	
								// quick install
								button(
									ng-click="simple.quickInstall(item)"
									ng-disabled="simple.state.install.running"
								).btn.btn-primary.btn-sm.pull-right
									span(ng-show="!simple.state.install.running")
										| Install
									span(ng-show="simple.state.install.running")
										span(ng-if="simple.state.install.packageName == item.name")
											i.fa.fa-refresh.fa-spin.fa-fw
											| Installing ...
										span(ng-if="simple.state.install.packageName != item.name")
											| Install
						div(ng-if="item.summary")
							| {{item.summary}}



	// advanced mode
	div.modal-body.install-packages-modal(ng-if="simpleMode == false")
		tabset
			tab(heading="Python", active="selectedTab.python")
			tab(heading="R", active="selectedTab.R")
			li.pull-right(style="margin-top: 8px;")
				span.small.row-spaced-small(ng-show="selectedTab.python && inputs.pythonInstaller == 'conda'")
					| (Packages will be installed with 
					span.text-monospace conda install
					| . 
					a(href, ng-click="inputs.pythonInstaller = 'pip'") Use pip instead.
					| )
				span.small.row-spaced-small(ng-show="selectedTab.python && inputs.pythonInstaller == 'pip'")
					| (Packages will be installed with 
					span.text-monospace pip install
					| . 
					a(href, ng-click="inputs.pythonInstaller = 'conda'") Use conda instead.
					| )
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'apt-get'")
					| (Packages will be installed from Binary sources. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'install.packages'")
					| (Packages will be installed from CRAN. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") Binary
					| , 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'biocLite'")
					| (Packages will be installed from Bioconductor. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") source
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'git'")
					| (Packages will be installed from GitHub. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") source
					|  or 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  instead.)

		form.form-inline.toolbar.toolbar-borderless.row-spaced
			span.text-monospace
				input.form-control.package-name#packageName(
					ng-model="inputs.packageName",
					placeholder="package-name",
					on-enter="install()",
					focus-on="open"
				)
			| &nbsp;&nbsp;
			button(
				ng-click="install()"
				ng-disabled="output.currentRun.running"
			).btn.btn-primary
				span(ng-show="!output.currentRun.running && !output.currentRun.stopping") Install
				span(ng-show="output.currentRun.running && !output.currentRun.stopping")
					i.fa.fa-refresh.fa-spin.fa-fw
					|  Installing...
				span(ng-show="output.currentRun.stopping") 
					i.fa.fa-refresh.fa-spin.fa-fw
					|  Stopping...
			| &nbsp;
			a(
				href,
				ng-click="stop()",
				ng-show="output.currentRun.running && !output.currentRun.stopping"
			).small
				.i.fa.fa-fw.fa-stop
				|  Stop

		div.command-output.install-command-output.row-spaced(scroll-glue, ng-show="output.currentRun")
			.alert.alert-info(ng-show="output.currentRun.running && output.currentRun.stillIniting && !output.currentRun.inited")
				p
					i.fa.fa-spinner.fa-spin.fa-fw 
					|  Initializing environment...
				p.small (This can take a while the first time you run a script)

			span.output(ng-repeat="part in output.currentRun.output | orderBy:'msg_id' track by $index ")
				span(ng-if="part.output_type == 'stdout'").stdout {{ part.text }}
				span(ng-if="part.output_type == 'stderr'").stderr {{ part.text }}
				
			.alert.alert-danger.row-spaced-small(ng-if="output.currentRun.error")
				strong #{translate("server_error")} 
				span #{translate("somthing_went_wrong_compiling")}

			.alert.alert-danger.row-spaced-small(ng-if="output.currentRun.timedout")
				strong #{translate("timedout")}. 
				span Sorry, your script took too long to run and timed out.
				
			div.alert.alert-success.row-spaced(ng-if="output.currentRun.exitCode == 0") Success! '{{ installedPackage }}' was installed.
			div.alert.alert-danger.row-spaced(ng-if="output.currentRun.exitCode") Failed to install '{{ installedPackage }}', sorry.
	
	div.modal-footer.install-packages-footer
		div.row
			div.col-md-10.left
				// only show the simple-advanced toggle if the feature is enabled
				span.pull-left.small(ng-if="simpleModeEnabled() == true")
					a(href, ng-click="toggleMode()").mode-toggle
						span Switch to 
						span(ng-if="simpleMode == true") Advanced Mode
						span(ng-if="simpleMode == false") Simple Mode
					span
						| &nbsp;&nbsp;&nbsp;&nbsp;
				span.pull-left.small
					| Trouble installing a package? 
					a(href, ng-click="help()") Contact Us!
			div.col-md-2
				button.btn.btn-primary(ng-click="$close()") Done