li(ng-controller="InstallPackagesController")
	a(
		href,
		ng-click="openInstallPackagesModal(false, editor.ace_mode)"
	)
		i.fa.fa-fw.fa-archive
		| &nbsp;&nbsp; Install packages

script(type='text/ng-template', id='installPackagesModalTemplate')
	.modal-header
		h3 Install modules and packages

	div.modal-body.package-search-modal(ng-if="simpleMode == true")
		
		// search form
		div(ng-controller="PackageSearchController")
			.row.package-search-form
				.col-md-12
					form.form-inline.toolbar.toolbar-borderless.row-spaced
						div.input-group
							input.form-control.text-monospace#searchBox(
								ng-model="simple.state.searchInput",
								placeholder="Search {{engine}} packages...",
								on-enter="simple.search()",
								focus-on="open"
							)
							span.input-group-btn
								button(
									ng-click="simple.search()"
									ng-disabled="simple.state.searching"
								).btn.btn-primary.search-button
									| Search
							| &nbsp;
	
			// selected view
			div(ng-if="simple.state.selected").row.package-details
				div.col-md-12
					div.row.top-row
						div.col-md-12
							span.package-name
								a(href, ng-click="simple.selectPackage(item.name)")
									| {{simple.state.selected.name}}
							span.pull-right
								button(
									href,
									ng-click="simple.install(simple.state.selected)"
									ng-disabled="simple.state.install.currentRun.running"
								).btn.btn-sm.btn-primary
									span(ng-switch, on="")
										span(ng-if="simple.state.install.currentRun.running && simple.state.install.currentRun.packageName == item.name")
											| Installing
										span(ng-if="!(simple.state.install.currentRun.running && simple.state.install.currentRun.packageName == item.name)")
											| Install
	
					div.row.details
						div.col-md-12
	
							div(ng-if="simple.state.selected.summary") {{simple.state.selected.summary}}
							div(ng-if="simple.state.selected.url").small
								a(href="{{simple.state.selected.url}}", target="_blank") {{simple.state.selected.url}}
						
					div.row.bottom-row
						div.col-md-12
							a(href, ng-click="simple.clearPackageSelection()")
							.btn.btn-default.btn-sm.pull-right Back
			
			// search results panel
			div(ng-if="simple.state.searchResults && simple.state.selected == null").row.package-search-results
	
				// messages
				div(ng-if="simple.state.errorMessage !== null || simple.state.successMessage !== null").messages
					div.alert.alert-success(ng-if="simple.state.successMessage")
						| {{simple.state.successMessage}}
					div.alert.alert-warning(ng-if="simple.state.errorMessage")
						| {{simple.state.errorMessage}}
	
				// scroll-able search results
				div.col-md-12.scroll-container
					div(ng-repeat="item in simple.state.searchResults").search-result-item
						div.top-row
							span.package-name
								a(href, ng-click="simple.selectPackage(item)") {{item.name}}
						div
							div(ng-if="item.summary") {{item.summary}}
							div(ng-if="item.url").small
								a(href="{{item.url}}", target="_blank") {{item.url}}


	div.modal-body.install-packages-modal(ng-if="simpleMode == false")
		tabset
			tab(heading="Python", active="selectedTab.python")
			tab(heading="R", active="selectedTab.R")
			li.pull-right(style="margin-top: 8px;")
				span.small.row-spaced-small(ng-show="selectedTab.python && inputs.pythonInstaller == 'conda'")
					| (Packages will be installed with 
					span.text-monospace conda install
					| . 
					a(href, ng-click="inputs.pythonInstaller = 'pip'") Use pip instead.
					| )
				span.small.row-spaced-small(ng-show="selectedTab.python && inputs.pythonInstaller == 'pip'")
					| (Packages will be installed with 
					span.text-monospace pip install
					| . 
					a(href, ng-click="inputs.pythonInstaller = 'conda'") Use conda instead.
					| )
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'apt-get'")
					| (Packages will be installed from CRAN. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") source
					| , 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'install.packages'")
					| (Packages will be installed with 
					span.text-monospace install.packages('...')
					| . 
					br
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'biocLite'")
					| (Packages will be installed from Bioconductor. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") source
					|  or 
					a(href, ng-click="inputs.rInstaller = 'git'") GitHub
					|  instead.)
				span.small.row-spaced-small(ng-show="selectedTab.R && inputs.rInstaller == 'git'")
					| (Packages will be installed from GitHub. 
					| Install from 
					a(href, ng-click="inputs.rInstaller = 'apt-get'") CRAN
					| , 
					a(href, ng-click="inputs.rInstaller = 'install.packages'") source
					|  or 
					a(href, ng-click="inputs.rInstaller = 'biocLite'") Bioconductor
					|  instead.)

		form.form-inline.toolbar.toolbar-borderless.row-spaced
			span.text-monospace
				input.form-control.package-name#packageName(
					ng-model="inputs.packageName",
					placeholder="package-name",
					on-enter="install()",
					focus-on="open"
				)
			| &nbsp;&nbsp;
			button(
				ng-click="install()"
				ng-disabled="output.currentRun.running"
			).btn.btn-primary
				span(ng-show="!output.currentRun.running && !output.currentRun.stopping") Install
				span(ng-show="output.currentRun.running && !output.currentRun.stopping")
					i.fa.fa-refresh.fa-spin.fa-fw
					|  Installing...
				span(ng-show="output.currentRun.stopping") 
					i.fa.fa-refresh.fa-spin.fa-fw
					|  Stopping...
			| &nbsp;
			a(
				href,
				ng-click="stop()",
				ng-show="output.currentRun.running && !output.currentRun.stopping"
			).small
				.i.fa.fa-fw.fa-stop
				|  Stop

		div.command-output.install-command-output.row-spaced(scroll-glue, ng-show="output.currentRun")
			.alert.alert-info(ng-show="output.currentRun.running && output.currentRun.stillIniting && !output.currentRun.inited")
				p
					i.fa.fa-spinner.fa-spin.fa-fw 
					|  Initializing environment...
				p.small (This can take a while the first time you run a script)

			span.output(ng-repeat="part in output.currentRun.output | orderBy:'msg_id' track by $index ")
				span(ng-if="part.output_type == 'stdout'").stdout {{ part.text }}
				span(ng-if="part.output_type == 'stderr'").stderr {{ part.text }}
				
			.alert.alert-danger.row-spaced-small(ng-show="output.currentRun.error")
				strong #{translate("server_error")} 
				span #{translate("somthing_went_wrong_compiling")}

			.alert.alert-danger.row-spaced-small(ng-show="output.currentRun.timedout")
				strong #{translate("timedout")}. 
				span Sorry, your script took too long to run and timed out.
				
			div.alert.alert-success.row-spaced(ng-show="output.currentRun.exitCode == 0") Success! '{{ installedPackage }}' was installed.
			div.alert.alert-danger.row-spaced(ng-show="output.currentRun.exitCode") Failed to install '{{ installedPackage }}', sorry.
	
	.modal-footer
		span.pull-left.small
			a(href, ng-click="toggleMode()").mode-toggle
				span Switch to 
				span(ng-if="simpleMode == true") Advanced Mode
				span(ng-if="simpleMode == false") Simple Mode
		span.pull-left
			| &nbsp;&nbsp;&nbsp;&nbsp;
		spane.pull-left.small
			| Trouble installing a package? 
			a(href, ng-click="help()") Contact Us!
		button.btn.btn-primary(ng-click="$close()") Done