script(type='text/ng-template', id='linkImageModalTemplate')
	.modal-header
		h3 Publish output file
	.modal-body.link-image-modal
		.thumbnail
			img(ng-src="{{inputs.url}}")
		form.form-inline.toolbar.toolbar-borderless.row-spaced
			span.text-monospace(ng-if="output.url")
				input.form-control.link-url(
					ng-model="output.url",
					focus-on="generate-link-done"
				)
			.alert(ng-if="error")
				span Error generating link
			button(
				ng-if="!output.url && !error"
				ng-click="generateLink()"
				ng-disabled="generating"
			).btn.btn-primary
				span Generate permanent link
				span(ng-show="generating") &nbsp;
					i.fa.fa-refresh(
						ng-class="{'fa-spin': generating }"
					)

	.modal-footer
		button.btn.btn-primary(ng-click="$close()") Done