nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", ng-class="{active: !navCollapsed}")
				i.fa.fa-bars
			if nav.title
				a(href='/').navbar-title #{nav.title}
			else
				a(href='/').navbar-brand

		.navbar-collapse.collapse(collapse="navCollapsed")

			ul.nav.navbar-nav.navbar-right
				-if(freeTrial && typeof(freeTrial.daysRemaining) != "undefined")
					li.subdued
						a(
							href,
							popover-template="'freeTrialPopoverTemplate'",
							popover-placement="bottom",
							popover-append-to-body="true"
						)
							if freeTrial.daysRemaining >= 0
								span.text-success Trial expires in #{freeTrial.daysRemaining} days
							else
								span.text-danger Trial Expired!
						script(type="text/ng-template", id="freeTrialPopoverTemplate")
							.text-center
								if freeTrial.daysRemaining >= 0
									p Your free trial expires in #{freeTrial.daysRemaining} days.
								else
									p Your free trial has expired.
								p
									if freeTrial.planCode == "teacher"
										a.btn.btn-primary(href="mailto:support+datajoy@sharelatex.com?Subject=DataJoy%20Support") Contact us to upgrade
									else
										a.btn.btn-primary(href="/user/subscription/plans") Upgrade Now

				if (session && session.user && session.user.isAdmin)
					li.dropdown(class="subdued", dropdown)
						a.dropdown-toggle(href, dropdown-toggle)
							| Admin
							b.caret
						ul.dropdown-menu
							li
								a(href="/admin/user") Manage Users

				each item in nav.header
					if ((item.only_when_logged_in && session && session.user) || (item.only_when_logged_out && (!session || !session.user)) || (!item.only_when_logged_out && !item.only_when_logged_in))
						if (!item.use_case || (session && session.user && item.use_case == use_case))
							if item.dropdown
								li.dropdown(class=item.class, dropdown)
									a.dropdown-toggle(href, dropdown-toggle)
										| !{translate(item.text)}
										b.caret
									ul.dropdown-menu
										each child in item.dropdown
											if child.divider
												li.divider
											else
												li
													if child.url
														a(href=child.url, class=child.class) !{translate(child.text)}
													else
														| !{translate(child.text)}
							else
								li(class=item.class)
									if item.url
										a(href=item.url, class=item.class) !{translate(item.text)}
									else
										| !{translate(item.text)}
				
				
				

