- var suppressMenuBar = true

extends ../layout

block content

	#loadingScreen.alt-container
		.container
			h3 Loading...
			.progress
				.bar#editorBar(style="width:0")

	#errorMessages
		#connectionLostMessage(style="display: none;")
			| Lost connection.
			span#trying-reconnect
				| Reconnecting in
				span#reconnection-countdown ?
				|  seconds.
				a(href='#')#try-reconnect-now Try now.
			span#reconnecting
				| Reconnecting...

		#savingProblems(style="display: none")
			| Saving...

	//- div#toolbar.sidebar-navigation
	//- 	ul#tabs
	//- 	#toolbar-footer

	#left-menu-mask(style="display: none;")
	aside#left-menu
		ul.nav
			li.share
				a(href='#')
					i.fa.fa-users
					|  Share
			li
				a(href='#')
					i.fa.fa-download
					|  Download
			li
				a(href='#')
					i.fa.fa-copy
					|  Clone
		h2 OFFLINE SYNC
		ul.nav
			li
				a(href='#')
					i.fa.fa-dropbox
					|  Dropbox
					div.small Your project is synced!
		h2 PUBLISH
		ul.nav
			li
				a(href='#')
					i.fa.fa-file-pdf-o
					|  As Template
					div.small Last published - 13th May 2014
		h2 SETTINGS
		ul.nav
			li.dropdown
				a.dropdown-toggle(href="#",data-toggle="dropdown")
					|  Compiler:
					span.setting
						| XeLaTeX
						b.caret
				ul.dropdown-menu
					li
						a(href='#') LaTeX
					li
						a(href='#') pdfLaTeX
					li
						a(href='#') XeLaTeX
					li
						a(href='#') LuaTeX

	aside#chat-window
		ul.chat
			li.me
				span.img-container
					img(src='/img/about/james_allen.jpg')
				strong Me:
					|  Hi!
			li.other
				span.img-container
					img(src='/img/about/james_allen.jpg')
				strong James:
					|  Cool.
					|  This feature looks better than before.
					|  Especially when I do a multi-line chat.
			li.other
				span.img-container
					img(src='/img/about/henry_oswald.jpg')
				strong Henry:
					|  Now with chat!
			li.me
				span.img-container
					img(src='/img/about/james_allen.jpg')
				strong Me:
					|  Yup...
			li.other
				span.img-container
					img(src='/img/about/henry_oswald.jpg')
				strong Henry:
					|  Okay bye!
		footer.chat-options
			form.form-inline.form-chat
			input(type="text", placeholder="Enter message...")
			button(type="button").btn.btn-small.btn-primary Send

	div#fixed-content
		header.navbar.editor
			.navbar-inner
				ul.nav
					li
						a(href='#')#leftMenuToggle
							i.fa.fa-bars
					li.recent-changes
						a(href='#', data-toggle="tooltip", title="Home")
							i.fa.fa-home

				ul.nav.project-name
					li.name
						| Project Name
					li
						a(href='#', data-toggle="tooltip", title="Rename")
							i.fa.fa-pencil

				ul.nav.pull-right
					li.recent-changes
						a(href='#', data-toggle="tooltip", title="Share")
							i.fa.fa-users
					li.recent-changes
						a(href='#', data-toggle="tooltip", title="Recent Changes")
							i.fa.fa-history
					li
						a#chat-menu-toggle(href='#', data-toggle="tooltip", title="Chat")
							i.fa.fa-comment
		#tab-content.tab-content

	script(type="text/javascript")
		$(function() {
			$("a#leftMenuToggle").on("click", function() {
				$("aside#left-menu").css({
					left: 0
				});
				$("aside#left-menu").addClass("shown");
				$("#left-menu-mask").show();
			});
			$("#left-menu-mask").on("click", function() {
				$("aside#left-menu").css({
					left: -200
				});
				$("aside#left-menu").removeClass("shown");
				$("#left-menu-mask").hide();
			});

			$("a#chat-menu-toggle").on("click", function() {

				$("body").toggleClass("chat-open");
				setTimeout(function() {
					ide.layoutManager.resizeAllSplitters();
				}, 500)
			});

			setTimeout(function() {
				$("header.editor a").tooltip({placement: "bottom", container: "body"})
				$(".actions a").tooltip({placement: "bottom", container: "body"})
			}, 5000);
		})

	include ../jade-templates/dropbox
	include ../templates

	script(src='/socket.io/socket.io.js')

	script(type='text/javascript')
		window.sharelatex = !{sharelatexObject};
		window.userSettings = !{userSettingsObject};
		window.user = !{userObject};
		window.csrfToken = "!{csrfToken}";
		window.requirejs = {
			"paths" : {
				"underscore": "libs/underscore",
				"mathjax": "https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML",
				"moment": "libs/moment"
			},
			"urlArgs" : "fingerprint=#{fingerprint(jsPath + 'ide.js')}",
			"waitSeconds": 0,
			"shim": {
				"libs/backbone": {
					deps: ["libs/underscore"]
				},
				"libs/pdfListView/PdfListView": {
					deps: ["libs/pdf"]
				},
				"libs/pdf": {
					deps: ["libs/compatibility"]
				}
			}
		};

	script(type='text/javascript')
		ga('send', 'event', 'editor-interaction', 'editor-opened')

	- locals.supressDefaultJs = true
	- var fingerprintedPath = fingerprint(jsPath+'libs/pdf.worker.js')
	- var pdfJsWorkerPath = jsPath+'libs/pdf.worker.js?fingerprint='+fingerprintedPath
	script
		window.sharelatex.pdfJsWorkerPath = "#{pdfJsWorkerPath}"

	script(
		data-main=jsPath+'ide.js',
		baseurl=jsPath,
		data-ace-base=jsPath+'ace',
		src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
	)

	- if (!anonymous)
		script(type="text/javascript")
			var chatReq = require.config({
				context: "chat",
				baseUrl: "#{chatUrl}/chat"
			});
			chatReq(["require", "chat"], function(require, Chat) {
				new Chat({
					room: {
						project_id: window.userSettings.project_id
					},
					url: "#{chatUrl}"
				})
			});


