extends ../layout
block scripts
	script(type='text/javascript').
		window.recomendedCurrency = '#{recomendedCurrency}'
		window.abCurrencyFlag = '#{abCurrencyFlag}'
block content
	.content-alt
		.content.plans(ng-controller="PlansController")
			.container(ng-cloak)
				.row
					.col-md-12
						.page-header.centered.plans-header.text-centered
							h1(ng-cloak) Choose your plan
				.row
					.col-md-10
						p
							| DataJoy is world's easiest platform for your data analysis in Python and R.
							| Pick the plan that best suits your needs below.
					.col-md-2.text-right
						.dropdown.currency-dropdown(dropdown)
							a.btn.btn-default.dropdown-toggle#currenyDropdown(
								href="#",
								data-toggle="dropdown",
								dropdown-toggle
							)
								| {{currencyCode}} ({{plans[currencyCode]['symbol']}}) 
								span.caret

							ul.dropdown-menu.dropdown-menu-right.text-right(role="menu")
								li(ng-repeat="(currency, value) in plans")
									a(
										href,
										ng-click="changeCurreny(currency)"
									) {{currency}} ({{value['symbol']}})

				.row(ng-cloak)
					.col-md-12
						.row
							.text-centered
								.col-md-6
									.card
										.card-header
											h2 Researcher
										ul.list-unstyled
											li
												strong
													| Ideal for individuals and small teams to work
													| from anywhere and collaborate together.
										
										.row
											.col-md-10.col-md-offset-1
												ul.list-unstyled.text-left
													li Complete Python and R environment
													li Unlimited Collaborators
													li Full version history
													li #{translate("sync_to_dropbox")}
													li #{translate("sync_to_github")}
										
										ul.list-unstyled.row-spaced
											li
												| Only 
												strong(ng-if="ui.view == 'monthly'")
													| {{plans[currencyCode]['datajoy']['monthly']}}
													span.small /mo
												strong(ng-if="ui.view == 'annual'")
													| {{plans[currencyCode]['datajoy']['annual']}}
													span.small /yr
												| 
												span.small.subdued (Exc. tax)
											li.row-spaced-small
												a.btn.btn-info(
													ng-href="#{baseUrl}/user/subscription/new?planCode=datajoy{{ ui.view == 'annual' ? '-annual' : '' }}&currency={{currencyCode}}", ng-click="signUpNowClicked('collaborator')"
												)
													span(ng-show="ui.view != 'annual'") Start your 7 day free trial
													span(ng-show="ui.view == 'annual'") #{translate("buy_now")}
											li.row-spaced-small(ng-show="ui.view == 'annual'").small
												| View 
												a(
													href,
													ng-click="switchToMonthly()"
												) #{translate("monthly")} 
												|  pricing
											li.row-spaced-small(ng-show="ui.view == 'monthly'").small
												| View 
												a(
													href
													ng-click="switchToAnnual()"
												) #{translate("annual")}
												|  pricing
								.col-md-6
									.card
										.card-header
											h2 Teaching
										ul.list-unstyled
											li
												strong
													| Get DataJoy for your whole class with a low
													| cost teaching license
										.row
											.col-md-10.col-md-offset-1
												ul.list-unstyled.text-left
													li Zero-installation Python and R
													li No more tech-trouble shooting
													li Students can access work from anywhere
													li Handout examples and assignments
													li Teaching and debug interactively
										ul.list-unstyled.row-spaced
											li
												a.btn.btn-info.js-intercom(href="#") Get in Touch

				hr
				.row.row-spaced.text-centered
					.col-md-7
						h3(style="margin-top: 0;") Student or Academic?
						| Get 
						strong 50% off 
						| all of our plans as a student or member of a university.
					.col-md-5.text-left
						a.btn.btn-info(
							ng-href="#{baseUrl}/user/subscription/new?planCode=datajoy{{ ui.view == 'annual' ? '-annual' : '' }}&currency={{currencyCode}}&cc=DJEDU", ng-click="signUpNowClicked('collaborator')"
						) Sign up with academic discount
				hr
				.row.row-spaced-thin(ng-cloak)
					p.text-centered Choose the plan that works for you with our 7-day free trial. Cancel at any time, and get a full 30-day refund if you're unhappy for any reason.

	.border-top
		.content
			.container
				.row
					.col-md-3
						h3 ENTERPRISE
					.col-md-7
						p
							strong Sensitive Data?
						p Run DataJoy locally on your own servers.
					.col-md-2
						p.row-spaced-small
							a.btn.btn-info.js-intercom(href="#") Get in Touch

	.content-alt.border-top
		.content
			.container
				.row
					.col-md-12
						.page-header.plans-header.plans-subheader.text-centered
							h2 #{translate("enjoy_these_features")}
					.col-md-4
						.card.features.text-centered
							i.fa.fa-file-text-o.fa-5x
							h4 #{translate("unlimited_projects")}
							p #{translate("create_unlimited_projects")}
					.col-md-4
						.card.features.text-centered
							i.fa.fa-clock-o.fa-5x
							h4 #{translate("full_doc_history")}
							p #{translate("never_loose_work")}
					.col-md-4
						.card.features.text-centered
							i.fa.fa-dropbox.fa-5x
							|  &nbsp; &nbsp; 
							i.fa.fa-github.fa-5x
							h4 #{translate("sync_to_dropbox_and_github")}
							p #{translate("access_projects_anywhere")}
