extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card(ng-cloak)
						.page-header
							h2 #{translate("thanks_for_subscribing")}
						//- .alert.alert-success
						//- 	p !{translate("next_payment_of_x_collectected_on_y", {paymentAmmount:"<strong>"+subscription.price+"</strong>", collectionDate:"<strong>"+subscription.nextPaymentDueAt+"</strong>"})}
						//- 	p #{translate("if_you_dont_want_to_be_charged")}
						//- 		a(href="/user/subscription") #{translate("click_here_to_cancel")}.
						p
							<!-- Change the width and height values to suit you best -->
							<div class="typeform-widget" data-url="https://sharelatex.typeform.com/to/El6pks" data-text="DataJoy Sign Up Reasons" style="width:100%;height:500px;"></div>
							<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
							<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=El6pks&amp;utm_source=typeform.com-16433-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>

						hr

						p.letter-from-founders
							p #{translate("thanks_for_subscribing_you_help_sl", {planName:subscription.name})}
							p #{translate("need_anything_contact_us_at")} 
								a(href='mailto:team@getdatajoy.com') team@getdatajoy.com
								| . #{translate("goes_straight_to_our_inboxes")}.
							p #{translate("regards")},
								br
								| Henry and James
						p
							a.btn.btn-primary(href="/project") &lt; #{translate("back_to_your_projects")}

	script(type="text/javascript").
		window.ab = [
			{step:1, bucket:"student_control", testName:"editor_plan"},
			{step:1, bucket:"collab_test", testName:"editor_plan"},
		]